<template>
  <q-page class="row">
    <q-card class="col-xs-9">
      <q-toolbar>
        <q-input
          dense
          borderless
          placeholder="Search"
          class="full-width"
          :model-value="search"
        >
          <template #append>
            <q-icon name="mdi-magnify"></q-icon>
          </template>
        </q-input>
      </q-toolbar>

      <TodosList bordered></TodosList>
    </q-card>

    <div class="col-xs-3">
      <q-toolbar class="bg-primary">
        <CreateTodoButton
          fab
          round
          color="secondary"
          style="margin-bottom: -48px;"
          class="q-ml-lg"
          icon="mdi-plus"
        ></CreateTodoButton><!-- fab: floating button -->
      </q-toolbar>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import CreateTodoButton from 'components/CreateTodoButton.vue'
import TodosList from 'components/TodosList.vue'

export default defineComponent({
  name: 'IndexPage',

  components: {
    CreateTodoButton,
    TodosList
  },

  data () {
    return {
      search: ''
    }
  }
})
</script>
