<template>
  <q-page padding class="flex flex-center">
    <!-- content -->
    <div class="full-width" style="max-width: 300px;">
      <h5 class="q-my-md text-center">Login</h5>

      <q-card>
        <q-form>
          <q-card-section>
            <q-input filled placeholder="email@example.com" label="email" class="q-mb-md"></q-input>

            <q-input filled type="password" label="password" class="q-mb-sm"></q-input>

            <q-checkbox label="remember me" :model-value="true"></q-checkbox>
          </q-card-section>

          <q-btn label="login" class="full-width" color="primary"></q-btn>
        </q-form>
      </q-card>
    </div>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
}
</script>
