<template>
  <div class="shadow-1 q-pa-md bg-white" style="border-radius: 5px;">

    <div class="q-mb-md">
      <q-input
        v-model="name"
        label="Training"
      ></q-input>
    </div>

    <div>
      <AddRound
        @roundAdded="addRound($event)"
        class="text-center" style="border-radius: 5px;"
      ></AddRound>
    </div>

    <q-card class="text-grey-9 q-ma-lg">
      <q-card-section>
        <div class="text-h6 text-center">{{ name }}</div>
      </q-card-section>
      <q-card-section>
        <RoundsList :rounds="rounds"></RoundsList>
      </q-card-section>
    </q-card>

    <div class="text-center">
      <q-btn
        class="q-pa-md"
        label="Create"
        color="primary"
        @click="handleCreateButton"
      />
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import AddRound from 'components/AddRound.vue'
import RoundsList from 'components/RoundsList.vue'

const emit = defineEmits([
  'trainingAdded'
])
const name = ref('WOD')
const rounds = ref([])
const nextId = ref(0)

function addRound (round) {
  rounds.value.push({ name: round.name, duration: round.duration, id: nextId.value++ })
}

function handleCreateButton () {
  emit('trainingAdded', {
    name: name.value,
    rounds: rounds.value
  })
}
</script>
