<template>
  <div class="text-center q-my-md">
    <StartTrainingButton
      color="primary"
      :training="props.training"
      @training-started="startTraining"
    />
  </div>
  <h3
    class="q-mx-lg text-center bg-orange-7 q-px-md q-py-lg text-white shadow-3 rounded-borders"
    style="border-radius: 1rem;"
  >{{ props.training.rounds[currentRoundIndex].name }}</h3>
  <div>
    <TrainingCard
      flat
      :training="props.training"
    />
  </div>
</template>

<script setup>
import TrainingCard from 'components/TrainingCard.vue'
import StartTrainingButton from 'components/StartTrainingButton.vue'
import { ref } from 'vue'
import { useQuasar } from 'quasar'

const props = defineProps({
  training: Object
})
const $q = useQuasar()
const currentRoundIndex = ref(0)

function playRounds (rounds, current = 0) {
  if (rounds[current] === undefined) {
    end()
    currentRoundIndex.value = 0

    return
  }

  currentRoundIndex.value = current
  const { duration, name } = rounds[current]

  let elapsedSeconds = 0
  const notifyTime = (time) => $q.notify({
    message: name + ' ' + time + ' s',
    color: 'blue',
    position: 'center',
    timeout: 100
  })

  notifyTime(duration)

  const clockId = setInterval(
    () => {
      const remainingTime = duration - ++elapsedSeconds

      if (remainingTime <= 0) {
        clearInterval(clockId)
        playSound()
        $q.notify({
          message: 'ring!',
          color: 'green',
          position: 'center'
        })
        playRounds(rounds, current + 1)

        return
      }

      notifyTime(remainingTime)
    },
    1000
  )
}

function startTraining () {
  playRounds(props.training.rounds)
}

function end () {
  $q.notify({
    message: `Training ${props.training.name} done.`,
    color: 'green',
    position: 'center'
  })
}

const soundUrl = ref('audio/bowl-strike-5s.mp3')

function playSound () {
  const audio = new Audio(soundUrl.value)
  audio.play()
}
</script>
