<template>
  <q-list>
    <q-item clickable>
      <q-item-section side>
        <q-icon name="mdi-shopping"></q-icon>
      </q-item-section>
      <q-item-section class="text-grey-9">
        Shopping List
      </q-item-section>
      <q-item-section side>
        54
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script>
export default {
  // name: 'ComponentName',
  setup () {
    return {}
  }
}
</script>
