<template>
  <q-page class="row">
    <q-header>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="mdi-plus"
          aria-label="Add training"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          Timap
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <AddTraining @training-added="handleTrainingAdded"></AddTraining>
    </q-drawer>

    <div bordered class="col-xs-3">
      <q-toolbar class="bg-grey-3 text-grey-9 text-bold">Trainings</q-toolbar>
      <TrainingsList
        bordered
        class="full-height q-mb-md text-grey-9"
        :trainings="trainings"
        @training-selected="handleTrainingSelected"
      />
    </div>
    <div class="col-xs-9">
      <TrainingInProgress :training="selectedTraining"></TrainingInProgress>
    </div>
  </q-page>
</template>

<script setup>
import { ref } from 'vue'
import AddTraining from 'components/AddTraining.vue'
import TrainingsList from 'components/TrainingsList.vue'
import TrainingInProgress from 'components/TrainingInProgress.vue'

const trainings = ref([
  {
    name: 'flash',
    rounds: [
      {
        id: 1,
        duration: 10,
        name: 'sautiller avec garde de boxe'
      },
      {
        id: 2,
        duration: 15,
        name: 'rafale de coups de poings directs'
      },
      {
        id: 3,
        duration: 30,
        name: 'squats avec coups de pieds latéraux'
      },
      {
        id: 4,
        duration: 15,
        name: 'esquives rotatives'
      },
      {
        id: 5,
        duration: 15,
        name: 'burpees'
      },
      {
        id: 6,
        duration: 30,
        name: 'gainage en remontant sur les bras'
      },
      {
        id: 7,
        duration: 30,
        name: 'pompes'
      }
    ]
  },
  {
    name: 'Cohérence cardiaque 365',
    rounds: [
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      },
      {
        id: 1,
        duration: 5,
        name: 'in'
      },
      {
        id: 2,
        duration: 5,
        name: 'out'
      }
    ]
  }
])
const selectedTraining = ref(trainings.value[0])

function handleTrainingSelected (training) {
  selectedTraining.value = training
}

function handleTrainingAdded (training) {
  trainings.value.push(training)
  handleTrainingSelected(training)
}

const leftDrawerOpen = ref(false)

function toggleLeftDrawer () {
  leftDrawerOpen.value = !leftDrawerOpen.value
}
</script>
